@media (prefers-color-scheme: light) {
 
    :root {
    --cor-primaria: #e21;
    --cor-primaria-escura: #900;
    --fundo-1: #f7f7f7;
    --fundo-2: white;
    --texto: #000000;
    --cor-subtitulo: rgba(0.0.0.0,2);
    --onda: url(./img/onda-clara.svg);
}
}
@media (prefers-color-scheme: dark) {
    :root{ 
    --cor-primaria: #e21;
    --cor-primaria-escura: #900;        
    --fundo-1: #111111;
    --fundo-2: #000000;
    --texto: #ffffff;
    --cor-subtitulo: rgba(225.225.225.0,2);
    --onda: url(./img/onda-escura.svg);

 }
}

body {
    display: grid;
    justify-items: center;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--fundo-1);
    gap: 60px;
    margin-top: 60px;
    color: var(--texto);
}

.header {
    display: grid;
    justify-items: center;
    gap: 60px;
    cursor: pointer;
}

.header li {
    display: inline-block;
    padding: 1rem 2rem;
    background: var(--fundo-2);
    margin: 5px;
    border-radius: 4px;
    border: 1px solid var(--fundo-2);
    }

.introducao {

    padding: 40px;
    text-align: right;
    position: relative;

}

.introducao-cover img{
    object-fit: cover;
    height: 100%;
}

.intro {
    display: grid;
    align-content: center;
    gap: 20px;
    justify-items: end;
    background: var(--fundo-2);
    padding: 40px;
    text-align: right;
    position: relative;
}

.intro h1 {
    font-size: 2rem;
}
h1::after {
    content: "";
    display: inline-block;
    width: 50px;
    height: 5px;
    background: var(--cor-primaria);
    position: absolute;
    right: -25px;
    top: 20px;
}

.botao {
    padding: 15px 30px;
    background-color: var(--cor-primaria);
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.botao:hover {
    background: var(--cor-primaria-escura);
    cursor: pointer;
}

header li:hover {
    border: 1px solid var(--cor-primaria-escura);
}

.bike {
    display: block;
    max-width: 100%;
}


.conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    /* word-break: break-all; */
    }

.onda {
    font-size: 4rem;
    color: var(--cor-subtitulo);
    text-align: right;
    padding: 40px;
    align-self: center;
    background-image: var(--onda);  
}

.vantagens {
    padding: 40px;
    background: var(--fundo-2);
}

.vantagens-item:nth-child(odd) {
    background: var(--fundo-1);
}

.vantagens-item:hover{
    border-left: 4px solid var(--cor-primaria-escura);
}

.vantagens {
    background: var(--fundo-2);
}
.vantagens-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 20px;
    padding: 20px;
}

.vantagens-item p{
    grid-column: 2;
}

footer {
    background: var(--fundo-2);
    width: 100%;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
}


p, h1, h2, h3, ul {
    margin: 0px;
}

p {
    font-size: 1.25rem;
    line-height: 1.3;
}

@media (max-width: 1000px) {
    .conteudo-vantagem {
        grid-template-columns: 1fr;
    }
    .onda {
        text-align: center;
    }
}

@media (max-width: 650px) {
    .conteudo {
        grid-template-columns: 1fr;
    }
    h1::after{
        display: none;
    }
    body {
        gap: 30px;
    }
    .header {
        gap: 30px;
    }
    .intro {
        text-align: left;
        justify-items: start;
    }
    .onda {
        font-size: 3rem;
    }

}
@media (max-width: 400px) {
    .onda {
        font-size: 2rem;
    }

}
